In [33]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

test = pd.read_csv("C:/kuliah/Home Credit Indonesia Data Scientist Virtual Internship Program/Minggu 4/7. Home Credit Scorecard Model/home-credit-default-risk/application_test.csv")
train = pd.read_csv("C:/kuliah/Home Credit Indonesia Data Scientist Virtual Internship Program/Minggu 4/7. Home Credit Scorecard Model/home-credit-default-risk/application_train.csv")
# b = pd.read_csv("C:/kuliah/Home Credit Indonesia Data Scientist Virtual Internship Program/Minggu 4/7. Home Credit Scorecard Model/home-credit-default-risk/bureau.csv")
# b_bal = pd.read_csv("C:/kuliah/Home Credit Indonesia Data Scientist Virtual Internship Program/Minggu 4/7. Home Credit Scorecard Model/home-credit-default-risk/bureau_balance.csv")
# ccb = pd.read_csv("C:/kuliah/Home Credit Indonesia Data Scientist Virtual Internship Program/Minggu 4/7. Home Credit Scorecard Model/home-credit-default-risk/credit_card_balance.csv")
# inst_p = pd.read_csv("C:/kuliah/Home Credit Indonesia Data Scientist Virtual Internship Program/Minggu 4/7. Home Credit Scorecard Model/home-credit-default-risk/installments_payments.csv")
# pcb = pd.read_csv("C:/kuliah/Home Credit Indonesia Data Scientist Virtual Internship Program/Minggu 4/7. Home Credit Scorecard Model/home-credit-default-risk/POS_CASH_balance.csv")
prev_app = pd.read_csv("C:/kuliah/Home Credit Indonesia Data Scientist Virtual Internship Program/Minggu 4/7. Home Credit Scorecard Model/home-credit-default-risk/previous_application.csv")
# sample_submission = pd.read_csv("C:/kuliah/Home Credit Indonesia Data Scientist Virtual Internship Program/Minggu 4/7. Home Credit Scorecard Model/home-credit-default-risk/sample_submission.csv")

In [34]:
prev_app.groupby(["NAME_SELLER_INDUSTRY"]).size()

NAME_SELLER_INDUSTRY
Auto technology           4990
Clothing                 23949
Connectivity            276029
Construction             29781
Consumer electronics    398265
Furniture                57849
Industry                 19194
Jewelry                   2709
MLM partners              1215
Tourism                    513
XNA                     855720
dtype: int64

In [35]:
df = pd.concat([test, train])

In [36]:
df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,NaN
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,NaN
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,NaN
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
307507,456252,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
307508,456253,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,...,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
307509,456254,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
307510,456255,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,...,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0,0.0

In [40]:
X = df['AMT_INCOME_TOTAL']
y = df['AMT_CREDIT']
clf = LogisticRegression(random_state=0).fit(X, y)
clf.predict(X[:2, :])

ValueError: Expected 2D array, got 1D array instead:
array=[135000.  99000. 202500. ... 153000. 171000. 157500.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
app_test.dropna(how = 'all')